.calendar-cell {
    background-color: white;
    overflow-y: scroll ;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    display: flex;
    gap: 5px;
    width: auto;
    height: auto;
    min-height: 100px;
    max-height: 150px;
    border: 1px solid black;
    cursor: pointer;
    
}

.calendar-cell.not-current {
    background-color: rgb(190, 190, 190);
    overflow: hidden;
    cursor: default;
    color: #0000005d;
}

.calendar-cell
    .calendar-number-day {
        position: sticky;
        height: max-content;
        top: 0;
    }

.calendar-cell
    .calendar-day-works {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 1005;
        align-items: center;
        padding-top: 10px;
    }

.calendar-cell
    .calendar-day-works 
        .calendar-work {
            display: flex;
            flex-direction: column;
            gap: 2px;
            background-color: rgb(255, 255, 114);
            border: 1px solid rgb(255, 210, 7);
            border-radius: 5px;
        }

.calendar-cell
    .calendar-day-works 
        .calendar-work div{
            pointer-events: none;
        }

